<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="com.louie.pojo.HelloSpring" scope="singleton">
        <property name="string" value="HelloSpring!!!"/>
    </bean>

    <bean id="address" class="com.louie.pojo.Address">
        <property name="city" value="Melbourne"/>
        <property name="street" value="110 central"/>
    </bean>
    <bean id="person" class="com.louie.pojo.Person">
        <property name="name" value="Louie"/>
        <property name="address" ref="address"/>
        <property name="books">
            <array>
                <value>射雕英雄传</value>
                <value>天龙八部</value>
                <value>神雕侠侣</value>
            </array>
        </property>
        <property name="cards">
            <map>
                <entry key="银行卡" value="5050505020212"/>
                <entry key="ID卡" value="3123123123123"/>
                <entry key="学生卡" value="111353"/>
            </map>
        </property>
        <property name="child">
            <null></null>
        </property>
        <property name="games">
            <set>
                <value>CS:GO</value>
                <value>LOL</value>
                <value>PUBG</value>
            </set>
        </property>
        <property name="hobbies">
            <list>
                <value>学习</value>
                <value>玩游戏</value>
            </list>
        </property>
        <property name="info">
            <props>
                <prop key="age">21</prop>
                <prop key="gender">male</prop>
            </props>
        </property>
    </bean>

    <bean id="csgo" class="com.louie.pojo.CSGO" p:player="louie" p:weapon="AK-47"/>
    <bean id="csgo2" class="com.louie.pojo.CSGO" c:player="steve" c:weapon="M4A4"/>
    <bean id="cat" class="com.louie.pojo.Cat" p:name="Kitty"/>
    <bean id="dog" class="com.louie.pojo.Dog" p:name="XiaoHei"/>
    <bean id="manwithpet" class="com.louie.pojo.ManWithPet" autowire="byName" p:name="louie"/>
</beans>